apiVersion: v1
kind: Service
metadata:
  name: photoviewer-frontend-svc
spec:
  type: NodePort
  selector:
    app: photoviewer-frontend
  ports:
    - protocol: TCP
      port: $((FRONTEND_CLUSTER_PORT))   # ClusterIP上のポート
      targetPort: $((FRONTEND_TARGET_PORT))
      nodePort: $((FRONTEND_NODE_PORT))  # ホストで開くポート
